- @page_title = "#{Railsquest.config.name}&rsquo;s Railsquest"

%audio#theme{ :src => 'theme.mp3', :loop => 'true', :autoplay => 'true'}
 
- unless @my_quest
  .create_quest
    %p
      To create a quest: 'railsquest add server_port quest_name'
  
.clear

.projects
  - if @people.empty?
    %h2.table_heading No Adventurers
  - else
    %h2.table_heading= pluralize @people.length, "Adventurer", "Adventurers"
    %ul
      - for person in @people
        %li.table_row
          %h3
            %a{:href => '/user/' + person.host_name.gsub(/\/$/, '') }= person.name    

.people
  - if @all_quests.empty?
    %h2.table_heading No Quests
  - else
    %h2.table_heading=  pluralize @all_quests.length, "Quest", "Quests"
    %ul
      - for quest in @all_quests
        %li.table_row
          %h3
            %a{:href => '/run/' +  quest.uri.gsub(/http:\/\//, '').gsub(/\/$/, '')}= quest.name