- @page_title = "#{Railsquest.config.name}&rsquo;s Railsquest"

%style{:type => "text/css"}
  :sass
    .people
      :font-size 14px
      a
        :color black

%style{:type => "text/css"}
  :sass
    .quest
      :clear both
      :background-color white
      :-webkit-border-radius 10px
      :-moz-border-radius 10px
      :padding 7px 10px
      :margin 10px 0
      :position relative
      :border 4px solid #ff0
      :border 4px solid rgba(0,0,0,0.5)
      
      a
        :color #888
      
      h2, p.uri
        :margin 0
        :display inline

      h2
        :color #333
        :font-size 24px
      p.uri
        :color #666
        :margin 5px 0
        :font-size 12px
      
      p.branches
        :margin 5px 0
        :font-size 12px
      
      ul, li
        :margin 0
        :padding 0
        :list-style none
        
      p.readme
        :margin 0 -5px 0 0
        a
          :float right
          :margin 0
          :text-transform uppercase
          :font-size 10px
          :font-weight bold
          :color #999
          :background-color #eee
          :line-height 20px
          :padding 0 5px
          :text-decoration none
          :-webkit-border-radius 2px
          :-moz-border-radius 2px
          &:hover
            :color #666
            :background-color #ddd
        
      h3
        :margin 10px 0 0 0
        :font-size 12px
        :color #999
        :text-transform uppercase
      
      ul.network
        :margin-top 5px
        li
          :line-height 1em
          :min-height 16px
          :padding-left 30px
          :margin 10px 0
          &.loading
            :background transparent url('/loader.gif') no-repeat 4px center
          a.name
            :font-size 12px
            :font-weight bold
            :color #666
            :text-transform uppercase
            :text-decoration none
          span.branches
            :font-size 12px
            :color #999
          span.more
            :float right
            :width 15px
            :height 15px
            :color #fff
            :background-color #ccc
            :font-size 12px
            :line-height 15px
            :font-weight bold
            :-webkit-border-radius 2px
            :-moz-border-radius 2px
            :text-align center
            :cursor pointer
            &:hover
              :background-color #aaa
              :color #fff
          p.message
            :font-size 12px
            :margin 2px 0 5px 1px
            a
              :color #333
              :text-decoration none
              &:hover
                :text-decoration underline
            span.meta
              :font-size 10px
              :color #999
            em.branch
              :font-weight bold
              :font-style normal
              :color #666
          img.gravatar
            :float left
            :margin-left -30px
            :margin-top 2px
    
    img.gravatar
      :width 20px
      :height 20px
    
    .projects, .people
      :float left
      :width 47%
      :background-color #686194
      :border 4px solid #686194
      :-webkit-border-radius 10px
      :-moz-border-radius 10px
      :margin-top 10px
      
      h2
        :margin 0
        :text-align center
        :font-size 16px
        :line-height 28px
        :background-color #686194
        :color #fff
        :text-transform uppercase

      h3
        :margin 0 0 5px 0
        
      ul, li
        :margin 0
        :padding 0
        :list-style none

      > ul
        :font-size 12px
        :margin 10px
        > li
          :margin-bottom 10px
        li li
          :margin-right 0.2em
        a
          :color #000
      
    .projects
      ul li
        ul, li
          :display inline
      a
        :white-space nowrap
        
    .clear
      :clear both
    
    .people
      :margin-left 20px
      ul
        li
          :float left
          :width 50%
          :margin-bottom 5px
          a
            :text-decoration none
            .name
              :text-decoration underline
            img
              :vertical-align middle
      
    .local .quest
      :border-color #980
      
    .create_quest
      :float right
      :color #fff
      :width 200px
      :line-height 150%
      :font-size 12px
      :text-shadow 0px 1px 1px #000

- if local?    
  - unless @my_quest
    .create_quest
      %p
        To create a quest: 'railsquest add server_port quest_name'
    
  .clear

  .projects
    - if @people.empty?
      %h2 No Adventurers
    - else
      %h2= pluralize @people.length, "Adventurer", "Adventurers"
      %ul
        - for person in @people
          %li
            %a{:href => person.uri + Railsquest.host_name}
              %img.gravatar{:src => person.gravatar}
              %span.name&= person.name    

  .people
    - if @all_quests.empty?
      %h2 No Quests
    - else
      %h2= pluralize @all_quests.length, "Quest", "Quests"
      %ul
        - for quest in @all_quests
          %li
            %h3
              %a{:href => quest.uri + '?hostname=' + Railsquest.host_name}= quest.name
              
- else
  .projects
    - if @my_badges.empty?
      %h2 No badges
    - else
      %h2= pluralize @my_badges.length, "Badge", "Badges"
      %ul
        - for badge in @my_badges
          %li
            %h3= badge.name

  .people
    - if @my_quests.empty?
      %h2 No quests
    - else
      %h2= pluralize @my_quests.length, "Quest", "Quests"
      %ul
        - for quest in @my_quests
          %li
            %h3
              %a{:href => quest.uri + '?hostname=' + @adventurer }= quest.name